.container {
  display : grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px; 
  margin-left: auto;
  margin-right: auto;
}
.btn {
  font-size: 30px;
  font-weight: bold;
}
